In [1]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv("adult.data.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# Check to see if there are any null values
df.isnull().values.any()

False

In [4]:
# What is the average age of men?
race_count = df.value_counts("race")
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [5]:
# What is the average age of men?
average_age_men = df[df["sex"] == "Male"]["age"].mean()
average_age_men

39.43354749885268

In [6]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = len(df[df["education"] == "Bachelors"])*100 / len(df.index)
percentage_bachelors

16.446055096587944

In [7]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df["education"].isin(["Bachelors","Masters","Doctorate"])]
lower_education = df[~df["education"].isin(["Bachelors","Masters","Doctorate"])]

In [8]:
#Number of people with salary >50K and higher education
rich_higher = len(higher_education[df["salary"] == ">50K"])
rich_higher

C:\Users\BERAT\AppData\Local\Temp\ipykernel_6624\466866140.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rich_higher = len(higher_education[df["salary"] == ">50K"])

3486

In [9]:
#Number of people with salary >50K and lower education
rich_lower = len(lower_education[df["salary"] == ">50K"])
rich_lower

C:\Users\BERAT\AppData\Local\Temp\ipykernel_6624\2580874262.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rich_lower = len(lower_education[df["salary"] == ">50K"])

4355

In [10]:
# percentage with salary >50K and higher education
higher_education_rich = round(rich_higher*100 / len(higher_education),1)
higher_education_rich

46.5

In [11]:
# percentage with salary >50K and lower education
lower_education_rich = round(rich_lower*100 / len(lower_education),1)
lower_education_rich

17.4

In [12]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [13]:
#Number of people who works with the minimum hours per week
num_min_workers = len(df[df["hours-per-week"] == min_work_hours])
num_min_workers

20

In [14]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_workers = df[df["hours-per-week"] == min_work_hours]
rich_percentage = len(min_workers[min_workers["salary"] == ">50K"])*100/num_min_workers
rich_percentage

10.0

In [15]:
 # What country has the highest percentage of people that earn >50K?
countries = df["native-country"].value_counts()
riches_count = df[df["salary"] == ">50K"]["native-country"].value_counts()
highest_earning_country = (riches_count*100/countries).idxmax()
highest_earning_country

'Iran'

In [16]:
# What is the percentage of the people who earn >50K in the country that has the highest salary percentage?
highest_earning_country_percentage = round((riches_count*100/countries).max(),1)
highest_earning_country_percentage

41.9

In [17]:
# Identify the most popular occupation for those who earn >50K in India.
people_india = df[df["native-country"] == "India"]
rich_india = people_india[people_india["salary"] == ">50K"]
top_IN_occupation = rich_india["occupation"].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'